<div class="jumbotron">
  <h2>Sign Up !!!</h2>
  <user-form [onSubmit]="submitForm" [confirm]="confirm" [formLable]="callForm" (onEnd)="onEnd($event)"></user-form>
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-body">
          <div class="center">
            <h2>Thank you for Joining Apple coding challange!!!!</h2>
            <p>Enjoy Adding new buddies to you account</p>
            <button type="button" class="btn btn-default" (click)="confirm()"> Get Started!</button>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

  