<button class="btn btn-primary pull-right" (click)="showBuddy();">Add Buddy !</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Buddy</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="jumbotron">
    <h2>Add Buddy</h2>
    <user-form #userForm [formLable]="callForm" (onEnd)="onEnd($event)"></user-form>
  </div>
    </div>
    </div>
</div>
</div>





  