<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2 ont-size: large;'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' class="hudWidth" (keyup)="onFilter()" [(ngModel)]="filterBy"/>
            </div>
            <add-bud  [parentData]="filterData"  [formLable]="'buddy'" (onAdd)="filterData=$event;buddies=$event"></add-bud>
        </div>
    </div>
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirmation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="center">
                <h2>Are you sure, you want to delete your Buddy!!!</h2>
                <button type="button" class="btn btn-default" (click)="confirmDelete()"> Confirm </button>
            </div>
            </div>
        </div>
    </div>
  </div>
    <template #buddyTemplate let-bud="item" let-index="index">
        <accordion>
            <accordion-group #group >
            <div accordion-heading id="parent" (click)="callAccordion($event)">
                <i (click)="openConfirm(index)" class="glyphicon glyphicon-remove"></i>
                {{bud.value.userName}}
                <rating id="child" [(ngModel)]="bud.value.star" [max]="max" [readonly]="isReadonly"
                    (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                    [titles]="['one','two','three', 'four','five']"></rating>
                <i class="pull-right float-xs-right glyphicon"
                    [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
            <table   class="table table-striped">
                <tbody>
                    <tr>
                        <th>User Name:</th>
                        <th>{{bud.value.userName}}</th>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <th>{{bud.value.firstName}}</th>
                    </tr>
                    <tr *ngIf="bud.value.userName">
                        <th>Status:</th>
                        <th>{{bud.value.status.toUpperCase()}}</th>
                    </tr>
                    <tr>
                        <th>Email Address:</th>
                        <th>{{bud.value.emailId}}</th>
                    </tr>
                    <tr>
                        <th>Date Of Birth:</th>
                        <th>{{bud.value.DOB}}</th>
                    </tr>
                    <tr *ngIf="bud.value.BIO">
                        <th >About Me:</th>
                        <th>{{bud.value.BIO}}</th>
                    </tr>
                    <tr *ngIf="bud.value.lastSignedIn && bud.value.status =='OFFLINE'">
                        <th>Last Signed-In:</th>
                        <th>{{bud.value.lastSignedIn}}</th>
                    </tr>
                    <tr>
                        <th>User Name:</th>
                        <th>{{bud.value.userName}}</th>
                    </tr>
                </tbody>
            </table>
        </accordion-group>
        </accordion>
    </template> 
    <bs-sortable 
        [(ngModel)]="filterData"
        [itemTemplate]="buddyTemplate"
        itemClass="sortable-item"
        itemActiveClass="sortable-item-active"
        placeholderItem="No Buddy found !!"
        placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper"
    ></bs-sortable>  
</div>